.table-small, .table-medium, .table-large, .table-xl {
    border: 3px solid black;
    margin: 1%;
    float: left;
    background-color: lightskyblue;
    color: black;
    transition: opacity 0.4s ease-in-out;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    text-align: center;
    box-shadow: 5px 5px 5px;
    touch-action: none;
    user-select: none;
    border-radius: 10px;
    font-family: 'Permanent Marker', cursive;
}

.interior {
    background-color: white;
    border: 2px solid black;
}

.interior-small {
    border-radius: 5px;
    margin: 15%;
}

.interior-medium {
    border-radius: 7px;
    margin: 10%;
    margin-top: 16%;
}

.interior-large {
    border-radius: 10px;
    margin: 10%;
}

.interior-xl {
    border-radius: 10px;
    margin: 10%;
}

.table-small {
    height: 100px;
    width: 100px;
    font-size: 20px;
}

.table-medium {
    height: 150px;
    width: 150px;
    font-size: 30px;
}

.table-large {
    height: 200px;
    width: 200px;
    font-size: 48px;
}

.table-xl {
    height: 300px;
    width: 300px;
    font-size: 80px;
}