.background {
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("../assets/images/landing.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;    
}

.logo {
  font-family: 'Lobster Two', cursive;
  font-size: 100px;
  border-bottom: 10px solid white;
  border-top: 10px solid white;
  border-radius: 10px;
  width: 150px;
  position: relative;
  color: white;
  margin: auto;
  margin-bottom: 3%;
  font-weight: bolder;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.page-center {
    position: absolute;
    top: 20%;
    width: 100%;
    color: white;
}

.headline {
    font-family: 'Fredoka One', cursive;
    font-size: 72px;
    text-shadow: 3px 3px black;
    padding-top: 1%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.sub-headline {
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    text-shadow: 2px 2px black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.login-button {
    width: 130px;
    height: 40px;
    background: #389ed5;
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 700;
    font-family: 'Candal', sans-serif;
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
    margin: 2%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

  .login-button:active {
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    top: 1px;
  }
  
  .login-button:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-left: 16px solid transparent;
    border-right: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6; 
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;  
  }